$couleur-normale: #080a0d;
$couleur-survol: #a1e6e6;

svg {
  fill: $couleur-normale;
  width: 30px;
  height: 30px;

  &:hover {
    fill: $couleur-survol;

    line {
      stroke: $couleur-survol;
    }
  }
}