@import '../../Constants';

$largeur-boite-1: 78%;
$largeur-boite-2: 22%;

.interface {
  height: $hauteur-interface;
  padding: 1%;
  background-color: #1c2424;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(100% - ($largeur-boite-1 + $largeur-boite-2));
  z-index: 30;
  position: relative;

  .boite {
    height: 100%;
    box-sizing: border-box;


    &.boite-selection {
      width: $largeur-boite-1;
      padding: 1% 8% 1% 2%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: max(calc($text-min / 4), calc($taille-texte / 4));
      background-color: beige;
      border-radius: 2px;
      z-index: 35;
      clip-path: polygon(0 0, 92% 0%, 100% 100%, 0% 100%);
      box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      position: relative;

      .bouton-capacite {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: default;
        border-radius: 12px;
        box-sizing: border-box;
        transition: box-shadow 0.1s ease, background-color 0.1s ease, color 0.05s ease;

        &:hover {
          background-color: rgba(44, 66, 66, 0.1);
          box-shadow: rgba(50, 50, 93, 0.05) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.35) 0px 15px 36px -18px inset;
          text-shadow: rgba(0, 0, 0, 0.35) 0 54px 55px, rgba(0, 0, 0, 0.3) 0px -12px 30px, rgba(0, 0, 0, 0.2) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }

        &:active {
          color: rgba(255, 255, 255, 0.7);
          background-color: rgba(0, 0, 0, 0)
        }

        &.capacite-inactive {
          color: rgba(0, 0, 0, 0.25);
          background-color: rgba(0, 0, 0, 0);
          box-shadow: rgba(50, 50, 93, 0) 0 0 0;
          text-shadow: rgba(0, 0, 0, 0) 0 0 0;
        }
      }
    }

    &.boite-textuelle, &.boite-information, &.boite-information-fond {
      border: 8px #2c4242 solid;
      background-color: #526666;
      border-radius: 10px;
      color: #ecf0f1;
    }

    &.boite-textuelle {
      width: 0;
      height: 89%;
      padding: 1% 2% 2%;
      transition: width 0.2s linear;
      background-color: rgba(91, 140, 140, 0.75);
      z-index: 32;
      position: absolute;

      &.depliee {
        width: 98%;
        visibility: visible;
      }

      .icone-suivant {
        position: absolute;
        bottom: 4%;
        right: 1%;
        height: 15%;
        aspect-ratio: 1;
      }
    }

    &.boite-information {
      width: $largeur-boite-2;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0;
      padding-right: 3%;
      z-index: 34;
      text-shadow: 2px 2px 0 #000000;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &::before {
        background-color: aqua;
      }

      .type-capacite {
        text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.5);
        padding: 1% 4% 3% 5%;
        margin-bottom: 2%;
        text-align: center;
        font-size: max(calc($text-min*0.8), calc($taille-texte*0.8));
        font-weight: bold;
        background-color: #ffd500;
        border-radius: 2px;
        box-sizing: border-box;
        border: 3px solid rgba(0, 0, 0, 0.3);
        box-shadow: inset rgba(0, 0, 0, 0.25) 0px -5px 10px -5px, inset rgba(180, 180, 196, 0.25) 0px 5px 10px -5px, 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
      }
    }

    &.boite-information-fond {
      position: absolute;
      width: 90%;
      height: 88.8%;
      z-index: 33;
    }
  }
}