@import "ConstantsChoixPokemon";

.choix-pokemon-global {
  width: calc(100% - ($padding-general-horizontal * 2));
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% $padding-general-horizontal;
  gap: 2.5%;
  background-color: $background-primaire;
  box-shadow: rgba(0, 0, 0, 0.05) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.1) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.07) 0 -79px 80px 0 inset;
  color: white;

  .separateur {
    width: 100%;
    height: 2px;
    background-color: rgba(33, 33, 33, 0.3);
  }

  .titre-choix-pokemon {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 130%;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
  }

  .cadre-choix-pokemon {
    position: relative;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5%;

    .liste-pokemons, .info-pokemon {
      background-color: $background-secondaire;
      box-sizing: border-box;
      border: 1px solid #1c2424;
      box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 6px, inset 0 5px 27px -8px rgba(20, 20, 20, 0.4), inset 1px 6px 10px 15px rgba(0,0,0,0);
    }

    .liste-pokemons {
      position: absolute;
      left: 5%;
      height: 100%;
      width: 56.5%;
      display: flex;
      flex-wrap: wrap;
      overflow-y: auto;
      align-content: flex-start;
      justify-content: flex-start;
      padding-top: $espacement-boutons;
      padding-left: $espacement-boutons;
      box-sizing: border-box;
    }
  }

  .conteneur-bouton-valider {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .bouton-valider {
      height: 100%;
      width: 32%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #2e7373;
      font-size: 0.9em;
      box-sizing: border-box;
      border: 2px solid #386666;
      box-shadow: rgba(30, 36, 43, 0.3) 0 0 4px 2px, rgba(30, 36, 43, 0.65) 0 4px 6px -1px, rgba(255, 255, 255, 0.08) 0 1px 0 inset;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      cursor: default;
      opacity: 0.4;

      &.active {
        cursor: pointer;
        opacity: 1;

        &:hover {
          background-color: #296666;
        }

        &:active {
          background-color: #245959;
        }
      }
    }
  }

  .transition-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: radial-gradient(circle, rgb(51, 51, 51) 0%, rgb(26, 26, 26) 50%, rgb(0, 0, 0) 100%);
    z-index: 100;
    transition: opacity 2s ease-in;
    visibility: hidden;

    &.transition-animee {
      visibility: visible;
      opacity: 100%;
    }
  }
}