@import 'Constants';

.pokemon-app {
  height: 100vh;
  width: 100vw;
  user-select: none;
  font-size: max($text-min, $taille-texte);
  display: grid;
  place-items: center;

  .logo-pokemon {
    height: 20%;
    margin-right: 20px;
    margin-top: 100px;
    min-height: 84px;
  }

  .musique {
    display: none;
  }

  .arriere-plan-general {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -20;
  }

  .cadre-jeu {
    position: relative;
    height: $taille-cadre;
    min-height: $cadre-min;
    aspect-ratio: 4/3;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
}

.transition-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgb(0, 0, 0);
  z-index: 100;
  transition: opacity 0.7s ease-in;
  visibility: hidden;

  &.transition-animee {
    visibility: visible;
    opacity: 100%;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #bbb;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #bbb transparent;
}